<h1>Merci de confirmer votre email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    La communauté Wild Series!
</p>
