<form method="post" action="{{ path('app_comment_delete', {'id': comment.id, 'slug': episode.slug}) }}" onsubmit="return confirm('Souhaitez vous supprimer cet avis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-outline-danger btn-sm border-none" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Supprimer cet avis</button>
</form>
