{% extends 'base.html.twig' %}

{% block title %}Edit Actor{% endblock %}

{% block body %}
    <h1>Edit Actor</h1>

    {{ include('actor_controller_c/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_actor_controller_c_index') }}">back to list</a>

    {{ include('actor_controller_c/_delete_form.html.twig') }}
{% endblock %}
