<form method="post" action="{{ path('category_app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Veuillez confirmer la demande de suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-outline-danger self-align-end form-btn">Supprimer</button>
</form>
