{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-center mb-5">Ajouter une catégorie</h1>

	{{ include('category/_inner_form.html.twig')}}

	<button class="btn btn-outline-light my-3 form-btn" type="submit">Ajouter</button>
	{{ form_end(form) }}
	{{ include('_bs_form/_bs_bottom_form.html.twig')}}

{% endblock %}
