<form method="post" action="{{ path('app_episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Veuillez confirmer la demande de suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn btn-outline-danger self-align-end form-btn">Supprimer</button>
</form>
