{{ form_start(form) }}

{{ form_widget(form) }}
<div class="d-flex justify-content-between  align-items-center">
	<button class="btn btn-outline-light my-3 form-btn">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
