{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Ajouter un épisode</h1>
	{{ include('episode/_inner_form.html.twig')}}

    <a class="btn btn-outline-secondary my-3 form-btn" href="{{ path('app_episode_index') }}">Retour</a>
    {{ include('_bs_form/_bs_bottom_form.html.twig')}}

{% endblock %}
