<form method="post" action="{{ path('app_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Veuillez confirmer la demande de suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-outline-danger self-align-end form-btn">Supprimer</button>
</form>
