{% extends 'base.html.twig' %}

{% block title %}Edit Season
{% endblock %}

{% block body %}
	<h1>Modifier une saison</h1>
	{{ include('season/_inner_form.html.twig') }}

</div>
<a class="btn btn-outline-secondary my-3 form-btn" href="{{ path('app_season_index') }}">Retour</a>
{{ include('season/_delete_form.html.twig') }}

{{ include('_bs_form/_bs_bottom_form.html.twig')}}{% endblock %}
