{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center mb-5 form-btn">Ajouter un programme</h1>

	{{ include('program/_inner_form.html.twig')}}

	<button class="btn btn-outline-light my-3 form-btn" type="submit">Ajouter</button>
	{{ form_end(form) }}
	{{ include('_bs_form/_bs_bottom_form.html.twig')}}

{% endblock %}
