{% extends 'base.html.twig' %}

{% block title %}New Actor{% endblock %}

{% block body %}
    <h1>Ajouter un acteur</h1>
	

       {{ include('actor/_inner_form.html.twig') }}
    {{ include('_bs_form/_form.html.twig') }}

   <a class="btn btn-outline-secondary my-3 form-btn" href="{{ path('actor_app_actor_index') }}">Retour</a>
    	{{ include('_bs_form/_bs_bottom_form.html.twig')}}
{% endblock %}
