{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% include "_bs_form/_bs_top_form.html.twig" %}

	<form action="{{ path('app_login') }}" method="post">
		<div class="mb-3 mt-5">

			<label class="form-label" for="username">Identifiant de connexion:</label>
			<input class="form-control" aria-describedby="identificationHelp" type="text" id="username" name="_username" value="{{ last_username }}">
			<div id="identificationHelp" class="form-text">Ne partagez jamais votre identifiant et/ou votre mot de passe.</div>
		</div>

		<div class="mb-3">
			<label class="form-label" for="password">Mot de passe:</label>
			<input class="form-control" type="password" id="password" name="_password">
		</div>

		{# If you want to control the URL the user is redirected to on success
		        <input type="hidden" name="_target_path" value="/account"> #}

		<button class="btn btn-outline-secondary" type="submit">Se connecter</button>
	</form>

	{% include "_bs_form/_bs_bottom_form.html.twig" %}

{% endblock %}
