// customize some Bootstrap variables
$primary: #212529;

@import "~bootstrap/scss/bootstrap";

:root {

    --width-logo-navbar: 40px;

}

body {
    background-color: #212529;
    padding-inline: 1rem;

}

.bg-dark {
    background-color: $primary;
}

.bg-image {

    height: calc(100vh - 56px);

}

.image_landing {
    background-color: $primary;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo {
    width: var(--width-logo-navbar);
}

label,
td,
th,
h1,
a {
    color: $light;

}

