// customize some Bootstrap variables
$primary: #212529;

@import "~bootstrap/scss/bootstrap";

:root{
    
    --width-logo-navbar : 40px;

}
body {
    background-color: #212529;
    padding-inline: 1rem;
}

.bg-dark {
    background-color: $primary;
}




