@import "app";

.bg-image {
    
    height: calc(100vh - 56px);
    
}

.image_landing {
    background-color: $primary;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo {
    width:var(--width-logo-navbar);
}