@import "~bootstrap/scss/bootstrap";
body {
    background-color: $primary;
}

#bg-image {
    --z-index :-1;

    width: var(--bg-image-width);
    height: auto;
    position: absolute;
    z-index: var(--z-index);
}

#logo {
    width:var(--width-logo-navbar);
}