{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}

	<section class="bg-image">
		<img class="image_landing" src="{{ asset('build/images/house_of_dragon.jpg') }}" alt="House of dragon"/>
		
		<div class="position-absolute top-50 start-50 translate-middle">
			<h1 class="text-light text-center">Bienvenue Sur Wild Series!</h1>
		</div>
	</section>

{% endblock %}
